/************************utilities************************/
.b-d {
  border: 1px dashed black;
}
h2 {
  background-color: rgb(247, 247, 247);
}
/************************nav***********************/
.logo-mob {
  width: 75px;
}
.logo-desk {
  width: 200px;
}
nav {
  height: 90px;
  background-color: rgb(248, 249, 250);
}
.bg-grey {
  background-color: rgb(229, 229, 229);
}
/****************************form**********************/
.form-control {
  border: none;
}
form {
  height: 50px;
  border-radius: 10px;
}
/*************************nav-icons*********************/
.fa-bell {
  color: rgb(255, 143, 0);
  font-size: 30px;
}
.fa-list-ul,
.fa-circle-question,
.fa-ellipsis-vertical {
  font-size: 20px;
}
/***********************aside*********************/
aside {
  background-color: rgb(5, 30, 52);
  background-image: url(/img/sidebar-bg.png);
  width: 80px;
}
/******************media aside************************/
@media all and (min-width: 1200px) {
  aside {
    width: 200px;
  }
  .tb-fq {
    width: 60%;
  }
}
main {
  background-color: purple;
}
header {
  background-color: yellow;
  height: 150px;
}

.tabl,
.faq {
  height: 300px;
}
.main-cont {
  height: calc(100vh - 100px);

  width: 100%;
}
.tabl {
  height: 800px;
}
.copied {
  height: 40px;
}
/**********************************media**********************************/
